{% extends "base.html" %}

{% block title %}Photographies{% endblock %}

{% block content %}
<h2 class="text-center">Photographies Célestes</h2>

<table class="table table-striped mt-4">
    <thead class="table-dark">
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{ url_for('static', filename='images/voie_lactee.jpg') }}" alt="Voie Lactée" class="img-fluid" width="200"></td>
            <td>Voie Lactée</td>
            <td>Magnifique capture de notre galaxie, la Voie Lactée.</td>
        </tr>
        <tr>
            <td><img src="{{ url_for('static', filename='images/lune.jpg') }}" alt="Lune" class="img-fluid" width="200"></td>
            <td>Lune</td>
            <td>Une belle image détaillée de la surface lunaire.</td>
        </tr>
        <tr>
            <td><img src="{{ url_for('static', filename='images/etoile.jpg') }}" alt="Étoile" class="img-fluid" width="200"></td>
            <td>Étoile</td>
            <td>Une étoile brillante capturée à travers un télescope puissant.</td>
        </tr>
    </tbody>
</table>
{% endblock %}