{% extends "base.html" %}

{% block title %}Télescopes{% endblock %}

{% block content %}
<h2 class="text-center">Liste des Télescopes</h2>

<table class="table table-striped mt-4">
    <thead class="table-dark">
        <tr>
            <th>Catégorie</th>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Date de sortie</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pour enfants</td>
            <td>Orion</td>
            <td>FunScope 76mm</td>
            <td>2015</td>
            <td>3.5/5</td>
        </tr>
        <tr>
            <td>Automatisé</td>
            <td>Celestron</td>
            <td>NexStar 6SE</td>
            <td>2018</td>
            <td>4.5/5</td>
        </tr>
        <tr>
            <td>Télescope complet</td>
            <td>Meade</td>
            <td>LX200-ACF 10"</td>
            <td>2020</td>
            <td>5/5</td>
        </tr>
    </tbody>
</table>
{% endblock %}